html
    style
        include ../css/layout.css
    header
        title Layout
    body
        .sidenav
            a(href='/') 借貸管理系統
            a(href='/debter') 管理債務人資料
            a(href='/creditor') 管理債權人資料
            a(href='/project_type') 管理放款類型
            a(href='/project') 管理放款案件
            a(href='/period') 管理還款紀錄
            a(href='/repayment_record') 查詢還款紀錄
            a(href='/') 查詢案件明細
            a(href='/sql') 使用SQL查詢
        
        .content
            block content
                h2 CSS Template
                p A full-height, fixed sidenav and content.
