extends layout.pug

block content
    h1 新增債權人
    
    form(method="POST", action="")
        div
            p 姓名　　　
                input(name='Name')

            p 聯絡電話　
                input(name='PhoneNumber')

            input(type='submit', value='送出')
        
        br
        div(style='overflow-x:auto;')
            | {% for table in tables %}
            //- | {{titles[loop.index]}}
            | {{ table|safe }}
            | {% endfor %}