extends layout.pug

block content
    h1 新增放款案件

    form(method="POST", action="")
        div

            p 案件編號　
                input#TypeName(list='TypeNames', name='TypeName')
                datalist#TypeNames
                    | {% for typenumber, typename in types %}
                    | option(name={{ typenumber }}, value={{ typename }})
                    | {% endfor %}


            | {% for typenumber, typename in types %}
            | {{ typenumber }} {{ typename }}
            | {% endfor %}

            p 開始日　　
                input(name='StartDate', type='date')

            input(type='submit', value='送出')

        br

        div(style='overflow-x:auto;')
            | {% for table in tables %}
            | {{ table|safe }}
            | {% endfor %}