extends layout.pug

block content
    form(method="POST", action="")
        h1 新增債權人

        p 姓名　　　
            input(name='Name')

        p 聯絡電話　
            input(name='PhoneNumber')

        input(type='submit', value='送出')
        
        p
            | {% for table in tables %}
            //- | {{titles[loop.index]}}
            | {{ table|safe }}
            | {% endfor %}