extends layout.pug

block content
    h1 新增案件類型

    form(method="POST", action="")
        div
            p 類型名稱　
                input(name='TypeName')

            p 放款金額　
                input(name='TotalPrinciple')

            p 期數　　　
                input(name='NumberOfPeriod')

            p 月繳本金　
                input(name='PrinciplePerPeriod')

            p 月繳利息　
                input(name='InterestPerPeriod')

            p 備註　　　
                input(name='Remark')

            input(type='submit', value='送出')

        br
        div(style='overflow-x:auto;')
            | {% for table in tables %}
            //- | {{titles[loop.index]}}
            | {{ table|safe }}
            | {% endfor %}