extends layout.pug

block content
    h1 管理還款紀錄

    form(method="POST", action="")
        div
            p 查詢案件編號　
                input#ProjectNumber(list='ProjectNumbers', name='ProjectNumber', autocomplete='off', style="width:200px")
                datalist#ProjectNumbers
                    | {% for number in projects %}
                    option(value="{{ number[0] }}")
                    | {% endfor %}
                
                input(type='submit', value='送出')
        br

        div
            | {% if edit %}
            p 還款日期　　　
                input(name='RepaymentDate', type='date', style="width:200px", value="{{ data[0] }}")
            
            p 還款（本金）　
                input(name='GetPrinciple', style="width:200px", value="{{ data[1] }}")

            p 　　（利息）　
                input(name='GetInterest', style="width:200px", value="{{ data[2] }}")

            p 還款方式　　　
                input(name='RepaymentMethod', style="width:200px", value="{{ data[3] }}")

            p 備註　　　　　
                textarea(name="Remark", rows="10", style="width:200px", value="{{ data[4] }}")

            p 
                input(type='submit', value='送出')

        | {% endif %}

        | {% if show %}
        p 最高應繳本金：{{ max_repayment[0] }} 元
        p 最低應繳本金：{{ min_repayment[0] }} 元
        p 平均每期應繳本金：{{ avg_repayment[0] }} 元
        p 最高應繳利息：{{ max_repayment[1] }} 元
        p 最低應繳利息：{{ min_repayment[1] }} 元
        p 平均每期應繳利息：{{ avg_repayment[1] }} 元
        | {% endif %}

        div(style='overflow-x:auto;')
            
            | {% if show %}
            table
                thead
                    tr
                    | {% for column in columns %}
                    th {{ column }}
                    | {% endfor %}
                    th

                tbody
                    | {% for row in table %}
                    tr
                        | {% for item in row %}
                        td {{ item }}
                        | {% endfor %}
                        td
                            a(href="/period_edit/{{ row[0] }}-{{ row[1] }}") 編輯
                    | {% endfor %}

            | {% endif %}
