extends layout.pug

block content
    h1 查詢案件明細
    form(method="POST", action="")
        div
            p 查詢案件編號 (使用「 , 」隔開)　
                input(name='ProjectNumber', style="width:200px")
                input(type='submit', value='送出')
        br

        |{% for title, table, columns in tables %}
        div
            | {% if show %}
            //- table
            //-     thead
            //-         tr
            //-         th(style='text-align: center') {{ title }}
            table
                thead
                    tr
                    th(colspan='{{ columns|length }}',style='text-align: center') {{ title }}
                tbody
                    tr
                    | {% for column in columns %}
                    td {{ column }}
                    | {% endfor %}

                    | {% for row in table %}
                    tr
                        | {% for item in row %}
                        td {{ item }}
                        | {% endfor %}
                    | {% endfor %}

            | {% endif %}
        br
        | {% endfor %}

        | {% if show %}
        p 日期： {{ date }}
        | {% endif %}