extends layout.pug

block content
    form(method="POST", action="")
        h1 使用SQL查詢
        p
            textarea(name="query", cols="100", rows="10", placeholder="input SQL query")
    
        input(type='submit', value='送出')
        
        p {{query_result}}