html
    style
        include ../css/layout.css
    header
        title 借貸管理系統
        h1 借貸管理系統

    body
        button.button 新增放款案件
        button.button 還款紀錄
        button.button 列印案件明細
        button.button 使用SQL查詢

        block content
